{% extends 'base.html' %}
{% block content%}
  <div id="massive_container" class="hide">
    <span id='result'></span>
    <input type="submit" class="delete_now" value="bulk delete">
  </div>
    <section class='collection_section'>
      <h1 class="collection_header">{{ title }}</h1>
      <div class="row">
        <div class="col">
          <div id="massive_add_tags_form" method="POST" enctype="multipart/form-data">
            <span>Add tags for all posts in collection : </span>
            <input type="text" id="add_massive_tag_name" data-collection_id="{{pk}}">
            <button type="submit" value="Add tags" id="add_massive_tag_btn" class='btn-primary btn-sm btn'>Add tags</button>
          </div>
        </div>
        <div class="col-5">
          <div class="row justify-content-end">
            {% if request.user.is_authenticated and perms.posts_collections.change_collection%}
            <input id='rename' type="submit" class='btn-primary btn-sm btn' value="Rename collection" style="max-width:200px; margin-right: 140px;">
            <form method="post" class="rename_class hiden row">
                {% csrf_token %}
                <input name='rename_input' type="text" style="max-width:300px">
                <input type="submit" name="rename_button" class='btn-primary btn-sm btn' value="Rename posts" style="max-width:200px">
            </form>
            {% endif %}
          </div>
        </div>
      </div>
        

    <div class="collection_section__box" id='collection_section__box'>
        {% include 'import/approved_posts.html' %}
    </div>      
    </section>

<script type="text/javascript">
  (function($) {
  $('#add_massive_tag_btn').click(function() {
    const tag_tag = $("#add_massive_tag_name");
    var tag = $("#add_massive_tag_name").val();
    var collection_id = $("#add_massive_tag_name").data("collection_id");
    $.ajax({
      type: 'post',
      url: '/api/approve_massive_add_tag/',
      data: {
        'tag': tag,
        'collid' : collection_id,
        'csrfmiddlewaretoken': window.CSRF_TOKEN
      },
      success: function(data) {
        tag_tag.val('')
        location.reload();
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));

</script>

<script type="text/javascript">
  var len = 0;
  $('.submit_now').click(function(){
    var inputs = new Array();
    $('.submit_it:checkbox:checked').each(function(){
      inputs.push($(this).data('post_id'));
    });
    
    var str = inputs.toString();
    if (inputs.length>=1) {
      $.ajax({
      type: 'post',
      url: '/api/bulk_approve/',
      data: {
          'postsid': str,
          'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
      },
      
      success: function(data) {
            jQuery.each( inputs, function( i, val ) {
                $('#'+val).remove();
                })
            
            // append html to the posts div
            $('.submit_it:checkbox').prop('checked', false);
            $('#massive_container').removeClass('show');
      },
      error: function(xhr, status, error) {
          // shit happens friends!
      }
      });
    };
  });

  $('.delete_now').click(function(){
    var inputs = new Array();
    $('.submit_it:checkbox:checked').each(function(){
      inputs.push($(this).data('post_id'));
    });
    
    var str = inputs.toString();
    if (inputs.length>=1) {
      $.ajax({
      type: 'post',
      url: '/api/bulk_delete/',
      data: {
          'posts_id': str,
          'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
      },
      
      success: function(data) {
        // append html to the posts div
        jQuery.each( inputs, function( i, val ) {
        $('#'+val).remove();})
        // append html to the posts div
        $('.submit_it:checkbox').prop('checked', false);
        $('#massive_container').removeClass('show');
      },
      error: function(xhr, status, error) {
          // shit happens friends!
      }
      });
    };
  });
</script>
<script type="text/javascript">
  (function($){
    $('#rename').click(function(){
      $(this).addClass('hiden')
      $('.rename_class').removeClass('hiden')
      $('.rename_class').removeClass('hiden')
      $('.delete_class').addClass('hiden')
    });
  }(jQuery));
</script>
{% endblock %}