{% for project in object_list %}
<div class="collection_section__card" id="{{ project.id }}">
    <div class="card__data1">
        <a class="card_imagebox" href="" target=”_blank”>
            <img class="card_imagebox" src="http://34.208.90.101{{project.image.url}}" alt="image">
        </a>
    </div>
    <div class="card__data2">
        <h6></a>Author : <a target=”_blank”>{{project.author}}</a></h6>
        <input type="checkbox" class="submit_it" data-post_id="{{project.id}}">
        <div class="tag__box">
            <h6>Add tags</h6>
            <span class="tag__box_form">
                <input class="btn input new_tag_name" autocomplete="off"  type="text" name="add_tag_name">
                <input class="add_one_tag_btn btn btn-primary btn-sm" value="Add" type="submit" data-post_id="{{project.id}}" name="add_tag_btn" >
            </span>
        </div>
        <div class="tag__box tag__box_center">
            <h6>Tags : </h6>
            <div class="tags">
                {% include 'import/non_improved_tags.html' %}
            </div>
            
        </div>
        <div class="tag__box tag__box_last">
            <a class="but_del but btn btn-primary btn-sm" data-id='{{ project.id }}'>Delete></a>
            <a class="improve_post btn btn-primary btn-sm" data-post='{{ project.id }}'>Approve image</a>
        </div>
    </div>

</div>
<script type="text/javascript">
  // A CSRF token is required when making post requests in Django
  // To be used for making AJAX requests in script.js
  window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endfor%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% comment %} approving {% endcomment %}
<script type="text/javascript">
    (function($) {
    $('.improve_post').click(function(){
        $(this).addClass('active_del');
        var link = $('.active_del');
        var post_id = link.data('post');
        $.ajax({
            type: 'post',
            url: '/api/approve_post/',
            data: {
                'post_id': post_id,
                'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
            },
            success: function(data) {
                // append html to the posts div
                $('#'+post_id).remove();
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
        });
    });
    }(jQuery));
</script>
{% comment %} delete {% endcomment %}
<script type="text/javascript">
    $('.but_del').click(function(event){
        var post_id =  $(this).data("id");
        $.ajax({
            type: 'post',
            url: '/api/delete_post/',
            data: {
                'post_id': post_id,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success: function(data) {
                // append html to the posts div
                $('#'+post_id).remove();
            },
            error: function(xhr, status, error) {
                console.log("Oshibochka deleta")
            }
        });
    });
</script>
{% comment %} delete tag {% endcomment %}
<script type="text/javascript">
    
    $('.tags').click(function(event){
        if (!$(event.target).closest('.delete_tag_btn')) return;
        var postid = $(event.target).data('postid');
        var tagname = $(event.target).data('tagname');
        $.ajax({
        type: 'post',
        url: '/api/delete_tag/',
        data: {
            'post_id': postid,
            'tag_name': tagname,
            'csrfmiddlewaretoken': window.CSRF_TOKEN 
        },
        success: function(data) {
            // append html to the posts div
            $('#'+postid).find('.tags').html(data.posts_html);
        },
        error: function(xhr, status, error) {
            // shit happens friends!
        }
        });
    });

    {% comment %} (function($) {
    $('.delete_tag_btn').click(function(){
        var postid = $(this).data('postid');
        var tagname = $(this).data('tagname');
        $.ajax({
        type: 'post',
        url: '/api/delete_tag/',
        data: {
            'post_id': postid,
            'tag_name': tagname,
            'csrfmiddlewaretoken': window.CSRF_TOKEN 
        },
        success: function(data) {
            // append html to the posts div
            $('#'+postid).find('.tags').html(data.posts_html);
        },
        error: function(xhr, status, error) {
            // shit happens friends!
        }
        });
    });
    }(jQuery)); {% endcomment %}
</script>
{% comment %} add tag for one post {% endcomment %}
<script type="text/javascript">
    (function($) {
    $('.add_one_tag_btn').click(function(){
        let postid = $(this).data('post_id');
        let tagname = $(this).siblings(".new_tag_name").val();
        const input_tag = $(this).siblings(".new_tag_name")
        $.ajax({
        type: 'post',
        url: '/api/add_new_tag/',
        data: {
            'post_id': postid,
            'tag_name': tagname,
            'csrfmiddlewaretoken': window.CSRF_TOKEN 
        },
        success: function(data) {
            // append html to the posts div
            input_tag.val('');
            $('#'+postid).find('.tags').html(data.posts_html);
        },
        error: function(xhr, status, error) {
            // shit happens friends!
        }
        });
    });
    }(jQuery));

  $('.submit_it:checkbox').click(function(){
    $('#result').html($('.submit_it:checkbox:checked').length + ' selected posts');
    len = $('.submit_it:checkbox:checked').length
    console.log(len)
    if (len>=1){
      $('#massive_container').addClass('show');
    }
    if (len == 0) {
      $('#massive_container').removeClass('show');
    }
  });
</script>