{% for project in object_list %}
    <div class="collection_section__card" id="{{ project.id }}">
        <div class="card__data1">
            <a class="card_imagebox" href="" target=”_blank”>
                <img src="http://34.208.90.101{{ project.image.url }}" alt="image">
            </a>
            <h6>Author : <button onclick="return follow(this);" target="_blank" href="{% url 'page' project.id %}" style="padding: 0px;" class="author_post btn btn-link">{{project.author}}</button></h6>
            <div class="but4" style="margin-top: 7px;">
                {% for coll in project.collections.all %}
                    {{coll}}, 
                {% endfor %}
            </div>
        </div>
        {% if request.user.is_authenticated and perms.posts_collections.view_collection %}
            
        <div class="card__data2">
            {% if perms.posts_collections.change_collection and perms.posts.add_tag %}
            <div class="tag__box">
                <h6>Add tags</h6>
                <span class="tag__box_form">
                    <input class="btn input new_tag_name" autocomplete="off"  type="text" name="add_tag_name">
                    <input class="add_one_tag_btn btn btn-primary btn-sm" value="Add" type="submit" data-post_id="{{project.id}}" name="add_tag_btn" >
                </span>
            </div>
            {% endif %}
            {% if perms.posts.view_tag %}
                <div class="tag__box tag__box_center">
                    <h6>Tags : </h6>
                    <div class="tags">
                        {% include 'import/non_improved_tags.html' %}
                    </div>
                </div>
            {% endif %}
            {% if perms.posts_collections.change_collection %}
                <div class="tag__box tag__box_last">
                    <a class="remove_post btn btn-primary btn-sm" data-coll="{{collection_id}}"data-post="{{project.id}}" >Remove from collection</a>
                </div>
            {% endif %}
            
        </div>
        {% endif %}
        
    </div>
{% endfor %}

<script>
    function follow(item) {
        var open = item.getAttribute('href');
        var a = document.createElement("a");
        a.href = open;
        var evt = document.createEvent("MouseEvents");    
        evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, true, false, false, false, 0, null);
        a.dispatchEvent(evt);
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% comment %} add tag for one post {% endcomment %}
<script type="text/javascript">
    (function($) {
        $('.add_one_tag_btn').click(function(){
            let postid = $(this).data('post_id');
            let tagname = $(this).siblings(".new_tag_name").val();
            const input_tag = $(this).siblings(".new_tag_name")
            $.ajax({
            type: 'post',
            url: '/api/add_new_tag/',
            data: {
                'post_id': postid,
                'tag_name': tagname,
                'csrfmiddlewaretoken': window.CSRF_TOKEN 
            },
            success: function(data) {
                // append html to the posts div
                input_tag.val('');
                $('#'+postid).find('.tags').html(data.posts_html);
            },
            error: function(xhr, status, error) {
                // shit happens friends!
            }
            });
        });
        }(jQuery));
</script>
{% comment %} delete tag {% endcomment %}
<script type="text/javascript">
    $('.tags').click(function(event){
        if (!$(event.target).closest('.delete_tag_btn')) return;
        var postid = $(event.target).data('postid');
        var tagname = $(event.target).data('tagname');
        $.ajax({
        type: 'post',
        url: '/api/delete_tag/',
        data: {
            'post_id': postid,
            'tag_name': tagname,
            'csrfmiddlewaretoken': window.CSRF_TOKEN 
        },
        success: function(data) {
            // append html to the posts div
            $('#'+postid).find('.tags').html(data.posts_html);
        },
        error: function(xhr, status, error) {
            // shit happens friends!
        }
        });
    });
</script>


{% comment %} improving {% endcomment %}
<script type="text/javascript">
    (function($) {
    $('.remove_post').click(function(){
        
        var postid = $(this).data('post');
        var collid = $(this).data('coll');
        console.log(postid, collid)
        $.ajax({
            type: 'post',
            url: '/api/delete_post_form_collection/',
            data: {
                'post_id': postid,
                'collid': collid,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            },
            success: function(data) {
                $('#'+postid).remove();
            },
            error: function(xhr, status, error) {
                console.log("Oshibochka deleta")
            }
        });
    });
    }(jQuery));
</script>